

.topic{
    background-color: #f1f1f1;
}



#home{
    background: #252A34 url(./images/desk.jpg) no-repeat center center/cover;
    height: 100vh ;
    color: #fff;
    
}

#home .h1{

    background-color: rgba(0, 0, 0, 0.8) ;
    padding-top: 20rem;
    height: 100%;

}


